body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  margin-bottom: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  text-align: justify;
}
nav.navbar ul li a {
  transition: all 1s;
}

nav.navbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.navbar ul li a:hover {
  color: rgb(42, 112, 153);
  z-index: 1;
}
nav.navbar ul li a:hover:after {
  z-index: -10;
  -moz-animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  animation: fill 1s forwards;
  opacity: 1;
}

